.rounContentAll {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 0;
    position: absolute;
    right: 60px;
    top: 50%;
    box-shadow: 1px 0 20px rgb(0 0 0 / 30%);
    z-index: 8;
    &::before{
        font-family: icomoon;
        font-size: 20px;
        font-weight: 700;
        content: ">";
        color: #000;
        max-width: 20px;
        min-width: 10px;
        max-height: 20px;
        min-height: 10px;
        }
    &:hover{
        z-index: 100 !important;
        background-color: #fff !important;

    }

    @media (max-width:992px) {
        display: none;
    }
}

.titlebtn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(45deg, rgba(255, 200, 68, 1) 0% ,  rgba(255, 200, 68, 1) 100% 0%);
        width: 236px;
        border: none;
        color: #000;
        font-size: var(--size14);
        letter-spacing: 1px;
        line-height: 15px;
        padding: calc(0.7vw + 5px )36px calc(0.7vw + 5px) 21px;
        margin-top: 50px;
        text-align: left;
        cursor: pointer;
        .titlebtn:hover{
            background-image: linear-gradient( 45deg, rgba(28, 55, 117, 1) 100% 0% ,  rgba(255, 200, 68, 1) 0%);
            background-color: var(--blue);
            color: #fff;
        }
        &:active{
            transform: scale(0.99);
          }
        &> p{
            font-size: var(--size14);
            font-weight: 700;
        }
        @media (max-width: 767px) {
        height: 34px; 
        }
    }
    
