.home{
width: 100%;
height: auto;
/* overflow-x: hidden; */
}
.exclusiveTitle{
    max-width: 684px;
    margin: 30px auto;
}
.titlebtn{
    display: flex;
    background-image: linear-gradient(45deg, rgba(255, 200, 68, 1) 0% ,  rgba(255, 200, 68, 1) 100% 0%);
    width: 236px;
    height: 54px;
    border: none;
    align-items: center;
    color: #000;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 15px;
    padding: 22px 36px 22px 21px;
    margin-top: 50px;
    text-align: left;
    cursor: pointer;
}
.titlebtn:hover{
    background-image: linear-gradient( 45deg, rgba(28, 55, 117, 1) 100% 0% ,  rgba(255, 200, 68, 1) 0%);
    background-color: var(--blue);
    color: #fff;
}
.AfterTitle{
    width: 100%;
    margin-top: 100px;
    padding: 45px 7%;
    
}
.AfterTitle h1{
    width: 50%;
}


