.home{
width: 100%;
height: auto;
}
.exclusiveTitle{
    max-width: 684px;
    margin: 30px auto;
}


.AfterTitle{
    width: 100%;
    margin-top: 100px;
    padding: 45px 7%;
    
}
.AfterTitle h1{
    width: 50%;
}
@media (max-width: 767px) {
    .exclusiveTitle{
        width: 100%;
        padding: 0 5%;
    } 
}

