@use "../../styles/globalStill" as *;
.rounContent {
    @include rounContentAll;
    &::before{
        content: "";
        width: 1vw;
        height: 1vw;
        background-image: url(../../public/assets/images/svg/next.svg);
        background-size: 100% 100%;
        }
        @media (max-width: 992px) {
    .moledSlick{
            display: block;
        }
    }
}
